<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MUI-A UI framework for developing desktop web applications</title>
    <link rel="stylesheet" href="../lib/default.min.css">
</head>

<body>
    <h1>MUI Components</h1>
    <div class="app"></div>
    <script type="text/x-template" id="demo">
        <div>
            <m-button :on-click="switchType.bind(this, 'button')">Button</m-button>
            <m-button :on-click="switchType.bind(this, 'toast')">Toast</m-button>
            <m-button :on-click="switchType.bind(this, 'form')">Form</m-button>
            <m-button :on-click="switchType.bind(this, 'radio')">Radio</m-button>
            <m-button :on-click="switchType.bind(this, 'checkbox')">Checkbox</m-button>
            <m-button :on-click="switchType.bind(this, 'datepicker')">DatePicker</m-button>
            <m-button :on-click="switchType.bind(this, 'menu')">Menu</m-button>
            <m-button :on-click="switchType.bind(this, 'table')">Table</m-button>
            <button-demo v-if="type === 'button'"></button-demo>
            <toast-demo v-else-if="type === 'toast'"></toast-demo>
            <form-demo v-else-if="type === 'form'"></form-demo>
            <radio-demo v-else-if="type === 'radio'"></radio-demo>
            <checkbox-demo v-else-if="type === 'checkbox'"></checkbox-demo>
            <datepicker-demo v-else-if="type === 'datepicker'"></datepicker-demo>
            <menu-demo v-else-if="type === 'menu'"></menu-demo>
            <table-demo v-else-if="type === 'table'"></table-demo>
            <div v-else>
                Not A/B/C
            </div>
        </div>
    </script>
    <script type="text/x-template" id="buttonDemo">
        <div>
            <h3>Button</h3>
            <p>
                <m-button :on-click="onclick">确认</m-button>
            </p>
            <p>
                <m-button type="error">错误</m-button>
            </p>
            <p>
                <m-button type="warning">警告</m-button>
            </p>
            <p>Code:</p>
            <p>
            	<pre>
            		<code class="html" v-html="html"></code>
            	</pre>
            </p>
        </div>
    </script>
    <script type="text/x-template" id="toastDemo">
        <div>
            <m-button :on-click="toggleToast">显示toast</m-button>
            <m-toast v-show="show" @close="toggleToast">哈哈哈哈</m-toast>
        </div>
    </script>
    <script type="text/x-template" id="formDemo">
        <div>
            <h3>Input</h3>
            <div style="display:inline-block;vertical-align:top">
                <m-input  label="姓名" v-on:onblur="onBlur(1)" v-model="text_name" :message="message_name"></m-input>
            </div>
            <div>{{ text_name }}</div>
            <div style="display:inline-block;vertical-align:top">
                <m-input placeholder="请输入学号" label="学号" v-model="text_num" v-on:onblur="onBlur(2)"></m-input>
            </div>
            <p></p>
            <m-input placeholder="请输入课程" v-model="text_course"></m-input>
            <p>Code:</p>
            <p>
                <pre>
                    <code class="html" v-html="text_html"></code>
                </pre>
            </p>
            <h3>TextArea</h3>
            <m-textarea placeholder="请输入一段关于..." v-model="textarea_one"></m-textarea>
            <m-textarea v-model="textarea_two" :message="textmessage"></m-textarea>
            <p>Code:</p>
            <p>
                <pre>
                    <code class="html" v-html="textarea_html"></code>
                </pre>
            </p>
        </div>
    </script>
    <script type="text/x-template" id="radioDemo">
        <div>
            <h3>Radio</h3>
            <m-radio v-model="radio" label="1"></m-radio>
            <m-radio v-model="radio" label="2"></m-radio>
            <p>
                <m-radio v-model="radio" label="3"></m-radio>
            </p>
            <p>Code:</p>
            <p>
                <pre>
                    <code class="html" v-html="html"></code>
                </pre>
            </p>
        </div>
    </script>
    <script type="text/x-template" id="checkboxDemo">
        <div>
            <h3>Checkbox</h3>
            <m-checkbox-group v-model="checkbox">
                <m-checkbox label="1"></m-checkbox>
                <m-checkbox label="2"></m-checkbox>
                <m-checkbox label="3"></m-checkbox>
            </m-checkbox-group>
            <p>Code:</p>
            <p>
                <pre>
                    <code class="html" v-html="html"></code>
                </pre>
            </p>
        </div>
    </script>
    <script type="text/x-template" id="datePickerDemo">
        <div>
            <m-datepicker v-model="date"></m-datepicker>
        </div>
    </script>
    <script type="text/x-template" id="menuDemo">
        <div>
            <m-menu trigger="hover">
                <m-submenu label="a" index="1">
                    <a slot="title">导航1</a>
                    <m-menu-item label="b" index="1-1">导航1-1</m-menu-item>
                    <m-submenu label="b" index="1-2">
                        <m-menu-item label="a" index="1-2-1">导航1-1</m-menu-item>
                        <m-menu-item label="c" index="1-2-2">导航1-2</m-menu-item>
                    </m-submenu>
                </m-submenu>
                <m-submenu label="b" index="2" @open="open" @close="close" @select="selectSubmenu">
                    <m-menu-item label="b" index="2-1" @select="selectItem">导航2-1</m-menu-item>
                    <m-menu-item label="c" index="2-2">导航2-2</m-menu-item>
                </m-submenu>
                <m-menu-item label="c" index="3">导航3</m-menu-item>
            </m-menu>
        </div>
    </script>
    <script type="text/x-template" id="tableDemo">
        <div>
            <m-table
            :data="table">
                <m-table-col
                prop="kind"
                label="种类"
                width="180">
                </m-table-col>
                <m-table-col
                prop="title"
                label="标题"
                width="380">
                </m-table-col>
                <m-table-col
                prop="author"
                label="作者"
                width="100">
                </m-table-col>
                <m-table-col
                prop="likes"
                label="点赞数"
                width="200">
                </m-table-col>
                <m-table-col
                label="操作"
                prop="active"
                width="200">
                <!-- <m-button></m-button> -->
                <div>haha</div>
                </m-table-col>
            </m-table>
        </div>
    </script>
    <script src="./lib/vue.js"></script>
    
    <!-- use this during local development -->
    <script src="http://localhost:9000/dist/main.js"></script>
    <script src="http://localhost:9000/dist/style.js"></script>
   
  
<!-- 	 <script src="./dist/main.js"></script>
	 <script src="./dist/style.js"></script> -->
      <!-- do not use this during local development, this is used for gh-pages
      -->
    <script>
    // Register a global custom directive called v-focus
    Vue.directive('highlight', {
        // When the bound element is inserted into the DOM...
        inserted: function(el) {
            // Focus the element
            hljs.highlightBlock(el);
        }
    })

    function escapeHtml(unsafe) {
        return unsafe
            .replace(/&/g, "&amp;")
            .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(/"/g, "&quot;")
            .replace(/'/g, "&#039;");
    }
    //initialzie
    const buttonDemo = Vue.extend({
        template: "#buttonDemo",
        data: function() {
            const html =
                `
<h3>Button</h3><p>
<m-button :on-click="onclick">确认</m-button></p>
<p><m-button type="error">错误</m-button></p>
<p><m-button type="warning">警告</m-button></p>
					`
            return {
                foo: 1,
                html: escapeHtml(html),
            }
        },
        methods: {
            onclick: function() {
                console.log("clicked")
            }
        }
    })

    const toastDemo = Vue.extend({
        template: "#toastDemo",
        data: function() {
            return {
                show: false
            }
        },
        methods: {
            onclick: function(num) {
                console.log("clicked")
            },
            toggleToast: function() {
                this.show = !this.show
            }
        }
    })

    const formDemo = Vue.extend({
        template: "#formDemo",
        data: function() {
            const text_html =
                `
<h3>Input</h3>
<div style="display:inline-block;vertical-align:top">
    <m-input placeholder="请输入姓名" label="姓名" v-on:onBlur="onBlur" v-model="text_name" :message="message_name"></m-input>
</div>
<div style="display:inline-block;vertical-align:top">
    <m-input placeholder="请输入学号" label="学号" v-model="text_num"></m-input>
</div>
<p></p>
<m-input placeholder="请输入课程" v-model="text_course"></m-input>
                    `
            const textarea_html =
                `
<h3>TextArea</h3>
<m-textarea placeholder="请输入一段关于..." v-model="textarea_one"></m-textarea>
<m-textarea v-model="textarea_two" :message="textmessage"></m-textarea>
                    `
            return {
                foo: 1,
                text_name:"hah",
                message_name:"message!",
                text_num:"1234",
                text_course:"",
                textarea_one:"textarea_one",
                textarea_two:"",
                textmessage:"message for textarea",
                text_html: escapeHtml(text_html),
                textarea_html: escapeHtml(textarea_html),
            }
        },
        methods: {
            onBlur: function(num) {
                console.log(num)
            }
        }
    })
    const radioDemo = Vue.extend({
        template: "#radioDemo",
        data: function() {
            const html =
                `
<h3>Radio</h3>
<m-radio v-model="radio" label="1">1</m-radio>
<m-radio v-model="radio" label="2">2</m-radio>
<p>
    <m-radio v-model="radio" label="3">3</m-radio>
</p>
                    `
            return {
                radio:'2',
                html: escapeHtml(html),
            }
        },
        methods: {
            onclick: function() {
                console.log("clicked")
            }
        }
    })

    const checkboxDemo = Vue.extend({
        template: "#checkboxDemo",
        data: function() {
            const html =
                `
<h3>Checkbox</h3>
<m-checkbox-group v-model="checkbox">
    <m-checkbox label="1"></m-checkbox>
    <m-checkbox label="2"></m-checkbox>
    <m-checkbox label="3"></m-checkbox>
</m-checkbox-group>
                    `
            return {
                checkbox: ["1"],
                html: escapeHtml(html),
            }
        },
        methods: {
            onclick: function() {
                console.log("clicked")
            }
        }
    })
    const datepickerDemo = Vue.extend({
        template: "#datePickerDemo",
        data: function() {
            const html =
                `
<h3>DatePicker</h3><p>
<m-datepicker></m-datepicker>
                    `    
            return {
                date:"2016-07-10"
            }        
        }
    })
    const menuDemo = Vue.extend({
        template: "#menuDemo",
        data: function() {
            const html =
                `
<h3>DatePicker</h3><p>
<m-menu></m-menu>
                    `    
            return {
                date:"2016-07-10"
            }        
        },
        methods:{
            open:function(index){
                console.log("open index " +index)
            },
            close:function(index){
                console.log("close index " +index)
            },
            selectSubmenu: function(index){
                console.log(index)
            },
            selectItem:function(index){
                console.log(index)
            }
        }
    })
    const tableDemo = Vue.extend({
        template: "#tableDemo",
        data: function() {
            const html =
                `
                    `    
            return {
                table:[{
                    kind:1,
                    title: "Dope",
                    author: "Amanda",
                    likes: 190
                },{
                    kind:2,
                    title: "Yo",
                    author: "Rose",
                    likes: 18
                },{
                    kind:2,
                    title: "Whassup Whassup Whassup Whassup Whassup Whassup Whassup Whassup Whassup Whassup Whassup Whassup Whassup Whassup Whassup Whassup Whassup Whassup",
                    author: "Elegenthus",
                    likes: 189
                },{
                    kind:1,
                    title: "Wo",
                    author: "Cruyun",
                    likes: 1001
                }]
            }        
        }
    })
    const demo = new Vue({
        el: ".app",
        template: "#demo",
        data: function() {
            return {
                type: "button"
            }
        },
        methods: {
            switchType: function(type) {
                this.type = type
            }
        },
        components: {
            "button-demo": buttonDemo,
            "toast-demo": toastDemo,
            "form-demo": formDemo,
            "radio-demo": radioDemo,
            "checkbox-demo": checkboxDemo,
            "datepicker-demo": datepickerDemo,
            "menu-demo": menuDemo,
            "table-demo": tableDemo,
        }
    })
    </script>
     <script src="../lib/highlight.min.js"></script>
</body>

</html>
